**/.stack-work
**/*.cabal
**/*.prof
**/node_modules

*~
.git
**/.DS_store
alfie/
design/
dockerfiles/
incident_reports/
pitches/
templates/

**/cloudbuild.yaml
**/.gitignore
**/k8s.yaml
**/hie.yaml
**/README.md
**/*.cabal
**/docs
**/scripts
**/vault
**/sql

**/.env
**/.vault-token
