<script>
  var els = document.querySelectorAll(".currency-hs");
  els.forEach(function(el){
    var content = el.textContent;
    try {
      var j = JSON.parse(content);
      var m = j[1]/j[2];
      el.textContent = "$" + m
    } catch(e) {

    }
  });

  var splits = document.querySelectorAll(".split-hs");
  splits.forEach(function(el){
    var content = el.textContent;
    try {
      var j = JSON.parse(content);
      var contents = `<b>${j[1].numerator / j[1].denominator}%</b> <a class="is-family-code" href="/user?id=${j[0]}" style=" text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 50px;">${j[0]}</a>`;
      el.innerHTML =  contents
    } catch(e) {

    }
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.js" integrity="sha256-cKCsFQtuaD5I6E7zP4Oe1dfY5wzxnbBMxskqc5Bo5sU=" crossorigin="anonymous"></script>
<script>
  var t = new timeago();
  var nodes = document.querySelectorAll('.timeago');
  t.render(nodes, 'en_US');
</script>