<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="/">Chewpaca</a></li>
          <li><a href="/groups">Group</a></li>
          <li class="is-active"><a href="#" aria-current="page">{{id}}</a></li>
        </ul>
      </nav>
      <section class="section">
        <h2 class="is-size-1">Group Info</h2>
        {{#mostrecent}}
          <table class="table">
            <tbody>
              <tr>
                <th>id</th>
                <td class="is-family-code">{{id}}</td>
              </tr>
              <tr>
                <th>Date</th>
                <td class="timeago" datetime="{{created_at}}">{{created_at}}</td>
              </tr>
              <tr>
                <th>State</th>
                <td>{{status}}</td>
              </tr>
              <tr>
                <th>Revision</th>
                <td>{{revision}}</td>
              </tr>
              <tr>
                <th>Members</th>
                <td>{{#members}} <a href="/user?id={{user}}">{{user}}</a><br>{{/members}}</td>
              </tr>
              <tr>
                <th>Splits</th>
                <td>{{#split}} <a href="/user?id={{user}}"><b>({{ratio.numerator}}%)</b> {{user}} </a><br>{{/split}}</td>
              </tr>
              <tr>
                <th>Group Accepted</th>
                <td>{{#members}} <a href="/user?id={{user}}"><b>({{accepted}})</b> {{user}}</a><form method="POST" action="/group/{{id}}/acceptmember/{{user}}"><button class="button" type="submit">Accept</button></form><br>{{/members}}</td>
              </tr>
              <tr>
                <th>Ratio Accepted</th>
                <td>{{#split}} <a href="/user?id={{user}}"><b>({{approved}})</b> {{user}} </a><form method="POST" action="/group/{{id}}/approvesplit/{{user}}"><button class="button" type="submit">Approve</button></form><br>{{/split}}</td>
              </tr>
              <tr>
                <th>Reset Split</th>
                <td>
                  <form action="/group/{{id}}/resetsplit" method="post">
                    <input type="hidden" name="groupid" value="{{id}}">
                    <button class="button is-danger" type="submit">
                      Reset to 50/50
                    </button>
                  </form>
                </td>
              </tr>
              <tr>
                <th>Close Group</th>
                <td>
                  <form action="/group/{{id}}/close" method="post">
                    <input type="hidden" name="groupid" value="{{id}}">
                    <button class="button is-danger" type="submit">
                      Close group
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        {{/mostrecent}}
      </section>
      <section class="section">
        <div class="table-container">
          <table class="table is-striped">
            <thead>
              <tr>
                <th>Last Update</th>
                <th>Revision</th>
                <th>Status</th>
                <th>Members</th>
                <th>Split</th>
                <th>msg</th>
              </tr>
            </thead>
            <tbody>
              {{#groups}}
                <tr>
                  <td class="timeago" datetime="{{created_at}}">{{created_at}}</td>
                  <td>{{revision}}</td>
                  <td>{{status}}</td>
                  <td>{{#members}} <a href="/user?id={{user}}"> ({{accepted}}) {{user}}</a><br>{{/members}}</td>
                  <td>{{#split}} <a href="/user?id={{user}}">({{approved}}) [{{ratio.numerator}}%] {{user}} </a><br>{{/split}}</td>
                  <td class="is-family-code"><a href="/message?id={{msgsource}}">{{msgsource}}</a></td>
                </tr>
              {{/groups}}
            </tbody>
          </table>
        </div>
      </section>
    </div>
    {{> currency-js}}
  </body>
</html>